.footer{
    background-color: #111111;
    padding: 45px 0 50px 0;

    .footer-content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .footer-content__left{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            span {
                color: #555555;
                margin-bottom: 15px;

                a{
                    color: #959595;
                    display: inline;

                    &:before{
                        display: none;
                    }
                }
                @media (min-width:$desktop) {
                    margin-bottom: 0;
                }
            }

            a{
                color: #525252;
                display: flex;
                align-items: center;
                margin: 15px 0;

                &:nth-child(3) {
                    color: $main-color;
                }

                &:before{
                    content: "";
                    background-color: #252525;
                    width: 1px;
                    height: 12px;
                    display: none;
                    margin: 0 10px;

                    @media (min-width:$desktop) {
                        display: block;
                    }
                }
                @media (min-width:$desktop) {                    
                    margin: 0;
                }
            }
            @media (min-width:$desktop) {
            flex-direction: row;
            }
        }

        .footer-content__right{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                color: #555555;
                margin: 15px 0;

                a{
                    color: #959595;
                    margin-left: 5px;
                }


                &:last-child{
                    display: flex;
                    align-items: center;

                    &:before{
                        content: "";
                        background-color: #252525;
                        width: 1px;
                        height: 12px;
                        display: none;
                        margin: 0 10px;

                        @media (min-width:$desktop) {
                           display: block;
                        }
                    }
                }
                @media (min-width:$desktop) {                   
                    margin: 0;
                }
            }
            @media (min-width:$desktop) {
                flex-direction: row;
            }
        }
        @media (min-width:$desktop) {
            flex-direction: row;
        }
    }
}