.header{
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  max-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;

  .flex_container{
      position: initial;
  }

  .header-content{
      display: flex;
      align-items: center;
      justify-content: space-between;

    //   Burger btn styles
      .nav-tools__burger {
        display: block;
        margin: auto 0;
        position: relative;
        width: 45px;
        height: 45px;
        z-index: 2;
  
        span {
          width: 75%;
          height: 3px;
          background-color: #fff;
          display: block;
          opacity: 1;
          -webkit-transition: opacity 0.3s ease, margin 0.3s ease;
          transition: opacity 0.3s ease, margin 0.3s ease;
          border-radius: 2px;
          margin: 10px 23% 10px 0;
        }
        &:after {
          content: "";
          width: 100%;
          height: 3px;
          background-color: #fff;
          display: block;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: -webkit-transform 0.3s ease;
          transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
          transition: transform 0.3s ease, -webkit-transform 0.3s ease;
          border-radius: 2px;
        }
        &:before {
          content: "";
          width: 100%;
          height: 3px;
          background-color: #fff;
          display: block;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: -webkit-transform 0.3s ease;
          transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
          transition: transform 0.3s ease, -webkit-transform 0.3s ease;
          border-radius: 2px;
        }
  
        &:hover {
          cursor: pointer;
        }
  
        &.nav-tools__burger-open {  
            position: fixed;
            top: 25px;
            left: 10px;             
          span {
            opacity: 0;
            margin: 0;
            transition: opacity 0.3s ease, margin 0.3s ease;
          }
          &:after {
            transform: rotate(45deg);
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
          }
          &:before {
            transform: rotate(-45deg);
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            margin-bottom: -5px;
          }
        }   
        @media (min-width: $desktop) {
            display: none;
        } 
      }
 //   Eng of Burger btn styles

    .logo{
        
        span{
            display: none;

            @media(min-width: $desktop) {
                display: block;
            }
        }
    }

    .header_nav-bar{
        display: flex;    
        max-width: 65%;
        width: 100%;
        justify-content: space-between;                           
        position: absolute;
        top: -100%; 
        overflow: hidden;

        li{
            margin: 15px 0;

            &:hover{

                a{
                    color: #c7b299;
                }                
            }

            @media (min-width:$desktop) {
                margin: 0;
            }
        }       
        &.burger-menu-click{
            max-width: 100%;
            margin: 0;
            height: 100vh;
            display: flex;           
            flex-direction: column;
            align-items: center;
            background:rgba(0, 0, 0, 0.95);
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            margin: 0;
            z-index: 1;         
            transition: top 0.5s ease;
            justify-content: center;         
        }

        @media (min-width:$desktop) {        
            display: flex;  
            position: initial;
            overflow: initial;
        }
    }

    .header_nav-tools{      
        display: flex;  

        a{
            margin-right: 30px;

            .header-icon{
                width: 1.5em;
                height: 22px;                
                fill: $white;              
            }

            &:hover{
                cursor: pointer;
            }
        }    
        .nav-tools__search {
            display: flex;
            align-items: center;
            position: relative;         
            transition: opacity .3s ease;
            width: 20px;
      
            &:after {
                content: "";
                width: 17px;
                height: 17px;
                border: #ffffff 1px solid;
                border-radius: 50%;
                transition: all 0.2s ease;
            }
      
            &:before {
                content: "";
                height: 6px;
                width: 1px;
                background-color: #ffffff;
                transform: rotate(-45deg);
                position: absolute;
                bottom: 0px;
                right: 4px;
                border-radius: 2px;
                opacity: 1;
                transition: all 0.2s ease;
            }
      
            &:hover {
                cursor: pointer;       
            }
      
            &.nav-tools-close {

                &:after {
                    border: none;
                    background-color: #ffffff;
                    opacity: 1;
                    height: 22px;
                    width: 1px;
                    transform: rotate(45deg);
                    transition: all 0.2s ease;
                    border-radius: 0;
                    position: absolute;
                    top: 2px;
                    left: 15px;
                }
                &:before {
                    height: 22px;
                    bottom: 1px;
                    transition: all 0.2s ease;
                }
                
                &:hover {
                    cursor: pointer;
                }
            }
         }
      }
   }
} 

.logo{
    display: flex;
    align-items: center;        
  
    span{
      font-family: 'Raleway', sans-serif;
      font-size: 34px;
    }
}